html, body {
    margin: 0;
    min-height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #f3f3f3;
    background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url("img/bcgImage.jpg");
    background-size: 100%;
    font-weight: 400;
    font-size: 1.5rem;
}

#main {
    margin-top: 80px;

    height: 100%;
    padding-top: 20px;
}

.center {
    margin: 0 auto;
    min-width: 30%;
    max-width: 40%;
}

#header {
    text-align: center;
    margin-bottom: 40px;
}

#header h1 {
    margin: 0;
}

#form {
    background-color: rgba(27, 27, 50, 0.8);
    height: 100%;
    padding-bottom: 30px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.container {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    
}

.container>* {
    padding-bottom: 10px;
}


.container button {
    margin: 0 auto;
    max-width: 100%;
    min-width: 100%;
    padding: 7.5px;
    font-size: 1em;
    background-color: #37af65;
    color: #f3f3f3;
}

.container input,select{
    padding: 10px;
    font-size: large;
}

.container textarea{
    max-width: 100%;
    min-width: 100%;
    font-size: 1.5rem;
    text-align: start;
    min-height: 2rem;
}

